Package: com.unlimitos.CleanAppManager
Name: CleanAppManager
Version: 1.0
Architecture: iphoneos-arm
Description: The best tools for Clean Applications.
Homepage: http://www.mobitechnews.com
Depiction: http://www.mobitechnews.com
Maintainer: Tran Quoc Huy <unlimitos.gmail.com>
Author: Tran Quoc Huy
Section: Utinity


